<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
</head>
<body style="margin: 40px;">
    {% if name %}
        <h1>Hello {{name | upper()}}!!!</h1>    
    {% else %}
        <h1>Hello World!!!</h1>    
    {% endif %}
    <br><br>
    <ul>
        {% for key, value in ex_dt.items() %}
            <li> {{key}} : {{value}}</li>
        {% endfor %}
    </ul>

    <h3>Flask에서는 ex_dex['key1'] 대신에 ex_dt.key1과 같이 사용할 수 있음</h3>
    <h3>{{ex_dt.key1}}</h3>
    {% for i in range(5) %}
        <h4>{{ i }}</h4>
    {% endfor %}
    <h3>{{ item | default('item 값이 지정되지 않았을 때 사용되는 값')}}</h3>

</body>
</html>