{% extends "13.bootstrap.html" %}
{% block title %}산점도{% endblock %}
{% block subtitle %} 산점도 {% endblock %}


{% block content %}

    <div class="col-3"></div>
    <div class="col-6 container-fluid text-center">
        <form action="/scatter" method="POST">
            <table class="table  table-borderless">
                <tr>
                    <td><label class="col-form-label">점의 갯수</label></td>
                    <td><input type="text" class="form-control" name="num"></td>
                </tr>
                <tr>
                    <td><label class="col-form-label">X의 평균</label></td>
                    <td><input type="text" class="form-control" name="mean"></td>
                </tr>
                <tr>
                    <td><label class="col-form-label">X의 표준편차</label></td>
                    <td><input type="text" class="form-control"  name="std"></td>
                </tr>
                <tr>
                    <td><label class="col-form-label">Y의 최소</label></td>
                    <td><input type="text" class="form-control" name="min"></td>
                </tr>
                <tr>
                    <td><label class="col-form-label">Y의 최대</label></td>
                    <td><input type="text" class="form-control" name="max"></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" class="btn btn-primary" value="확인"></td>
                </tr>
            </table>
        </form>
    </div>
    <div class="col-3"></div>
    
{% endblock %}