<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>산점도</title>
    <style>
        td {text-align: center;}
    </style>
</head>
<body style="margin: 40px;">
    <h3>산점도</h3>
    <hr>
    <form action="/scatter" method="POST">
        <table>
            <tr>
                <td>점의 갯수</td>
                <td><input type="text" name="num"></td>
            </tr>
            <tr>
                <td>X의 평균</td>
                <td><input type="text" name="mean"></td>
            </tr>
            <tr>
                <td>X의 표준편차</td>
                <td><input type="text" name="std"></td>
            </tr>
            <tr>
                <td>Y의 최소</td>
                <td><input type="text" name="min"></td>
            </tr>
            <tr>
                <td>Y의 최대</td>
                <td><input type="text" name="max"></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="확인"></td>
            </tr>
        </table>
    </form>
</body>
</html>