
{% extends "13.bootstrap.html" %}
{% block title %}산점도 결과{% endblock %}
{% block subtitle %} 산점도 결과 <i class="fas fa-home"></i>{% endblock %}

{% block content %}

    <div class="col-3"></div>
    <div class="col-6 container-fluid text-center">

        <table>
            <tr>
                <td>
                <img src="{{url_for('static', filename='img/scatter.png')}}" class="rounded" style="width:500px; height:400px;" alt="산점도 결과">
                <br><br>
                </td>
            </tr>
            <tr>
                <td style="text-align: center;">
                <button onclick="location.href='/scatter'" class="btn btn-primary">재실행</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-3"></div>

{% endblock %}