{% extends "13.bootstrap.html" %}
{% block title %}수원 HOT PLACE{% endblock %}
{% block subtitle %} 수원 HOT PLACE <i class="fas fa-home"></i>{% endblock %}

{% block content %}

    <div class="container text-center">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
            <form action="/hotplaces" method="POST" >
                <table class="table table-borderless justify-content-center">
                    <tr>
                        <td><input type="text" class="form-control" name="place1"></td>
                        <td><input type="text" class="form-control" name="place2"></td>
                        <td><input type="text" class="form-control" name="place3"></td>
                        <td><input type="submit" class="btn btn-primary" value="제출"></td>
                    </tr>
                </table>
            </form>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
{% endblock %}