<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File upload</title>
</head>
<body style="margin: 40px;">
    <h3>파일 업로드</h3>
    <hr>
    <br>
    <form action="/upload" method="post" enctype="multipart/form-data">
        파일 선택: <input type="file" name="image" id="image">
        <input type="submit" value="업로드">
    </form>
</body>
</html>