<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="Expires" CONTENT="-1">
    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/fbb7139956.js" crossorigin="anonymous"></script>
    
    <title>{% block title %} 2023년 5월 12일 평가{% endblock %}</title>
    <style>
        * { font-family: "Noto Sans KR", sans-serif;}
        a { text-decoration: none;}
        img { width: 50px; height: 60px;}
    </style>
    {% block additional_head %}{% endblock %}
</head>
<body>
    <div class="container-fluid p-3 bg-warning text-white text-center">
        <h1>2023년 5월 12일 평가</h1>
        <nav class="navbar navbar-expand-sm naver-light">
            <div class="container-fluid">
                <div class="collapse navbar-collapse justify-content-center" id="myNavbar" >
                    <ul class="nav">
                        <li class="nav-item"><a href="/melon" class="nav-link {% if order==0 %}active{%endif%}"><span style="color: #fff">{% if order==0 %}<strong>{%endif%}멜론 차트{% if order==0 %}</strong>{%endif%}</span></a></li>
                        <li class="nav-item"><a href="/youtube_ranking" class="nav-link {% if order==1 %}active{%endif%}" ><span style="color: #fff">{% if order==1 %}<strong>{%endif%}유튜브 랭킹{% if order==1 %}</strong>{%endif%}</span></a></li>
                    </ul>
                </div>
            </div>
        </nav>        
    </div>
    
    <div class="container mt-3 text-center">
        <h3>{% block subtitle %}{% endblock %}</h3>
        <br>
        {% block content %}{% endblock %}
    </div>

    {% block additional_body %}{% endblock %}
</body>
</html>