{% extends "base.html" %}
{% block title %} Melon chart {% endblock %}

{% block additional_head %}
<style>
        img { width: 50px; height: 60px;}
</style>

{% endblock %}

{% block subtitle %}Melon Chart{% endblock %}

{% block content %}
    <table class="table mt-2">
        <thead class="table-warning">
            <tr>
                <th width="5%">순위</th>
                <th width="10%"></th>
                <th>곡명</th>
                <th>아티스트</th>
                <th>앨범</th>                    
            </tr>
        </thead>
        {% for chart in charts %}
        <tr>
            <td>{{ chart.순위 }}</td>
            <td><img src="{{ chart.이미지 }}" alt="{{ chart.곡명 }}"></td>
            <td>{{ chart.곡명 }}</a></td>
            <td>{{ chart.아티스트 }}</td>
            <td>{{ chart.앨범 }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
   
