{% extends "prototype/base.html" %}
{% block title %} 자유게시판 {% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    table { text-align: center;}
    th { font-size: 110%;}
    .t_num { width: 5%; }
    .t_title { width: 40%;}
    .t_name { width: 15%; }
    .t_date{ width: 10%; }
    .t_reply { width: 8%; }
    .content_title { color: rgb(29, 3, 115);
    }
</style>

{% endblock%}

{% block subtitle %}
자유게시판 글 목록
{% endblock %}
{% block content %}
<div class="container">
    <div  class="row">
        <div class="col-10">
            <table class="table table-xl table-hover">
                <thead class="table-warning">
                    <tr>
                        <th class="t_num"></th>
                        <th class="t_title">제목</th>
                        <th class="t_name">작성자</th>
                        <th class="t_date">작성일</th>
                        <th class="t_reply">조회수</th>
                    </tr>
                </thead>
                {% for row in bbs_list %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td><strong ><a class="content_title" href="/bbs/view/{{row[0]}}">{{ row[2] }}</a></strong></td>

                    <td>{{ row[3] }}</td>
                    <td>{{ row[4][:10] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-2">
        <div class="col-10 text-black">
            <ul class="pagination justify-content-center">
                {% if page_no > 5 %}
                    <li class="page-item"><a class="page-link" href="/bbs/list/{{ start_page - 5 }}">&laquo; 이전</a></li>
                {% endif %}

                {% for page in range(start_page, end_page+1) %}
                    {% if page == page_no %}
                        <li class="page-item active"><a class="page-link" >{{ page }}</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="/bbs/list/{{ page }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor %}
                
                {% if end_page % 5 == 0 %}
                <li class="page-item"><a class="page-link" href="/bbs/list/{{ end_page + 1 }}"> 다음 &raquo;</a></li>
                {% endif %}
            </ul>
        </div>
        <div class="col-2"></div>
    </div>
</div>
<br><br><br>
{% endblock %}