{% extends "prototype/base.html" %}
{% block title %} 자유게시판 상세조회 {% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    table { text-align: center;}
    th { font-size: 110%;}
    .t_num { width: 5%; }
    .t_title { width: 40%;}
    .t_name { width: 15%; }
    .t_date{ width: 10%; }
    .t_reply { width: 8%; }
    .content_title { color: rgb(29, 3, 115);
    }
</style>

{% endblock%}

{% block subtitle %}
자유게시판 상세조회
{% endblock %}
{% block content %}
<div class="container">
    
    <div  class="row ">
        <div class="col-10 rounded border">
            
            <div class="d-flex justify-content-between mb-2">
                <div>
                    <p> </p>
                    <br>
                    <h4>
                    {{ contents[3]}}
                    </h4>
                    <p>
                    {{ contents[4]}}
                    </p>
                </div> 
                <div>
                    <p> </p>
                    <br>
                    <h4>
                    {{ contents[2]}}
                    </h4>
                    <p>
                    조회 {{ contents[5]}} 댓글 {{ contents[6]}}
                    </p>
                </div>
            </div>
            <hr>
            
            <div>
                {{ contents[8]}}
            </div>
            <hr>
            <div>
                <form class="form-inline" action="" method="post">
                    <input type="hidden" name="bid" value="{{contents[0]}}">     <!-- bid -->
                    <input type="hidden" name="uid" value="{{contents[1]}}">     <!-- uid -->
                    <table class="text-center">
                        <tr>
                            <td width="10%;">
                                <label for="content" class="col-form-label ml-5 mt-3 mr-3">댓글</label>
                            </td>
                            
                            <td width="80%;">
                                <textarea class="form-control ml-3 mt-3 mr-3" id="content" name="content" rows="3" cols="80"></textarea>
                            </td>
                            <td width="10%;">
                                <button type="submit" class="btn btn-warning ml-3 mt-3 mr-5">등록</button>
                            </td>
                        </tr>
                    </table>    
                </form>
                <br>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
    <div class="row mt-2">
       
    </div>
</div>
<br><br><br>
{% endblock %}