{% extends "prototype/base.html" %}
{% block title %} 로그인 {% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}


{% endblock%}

{% block subtitle %}
 로그인
 <span style="font-size: 0.6em;">
    <a href="/user/register" class="ms-5"><i class="fas fa-user-plus"></i> 회원가입</a>
</span>
{% endblock %}
{% block content %}
<div class="container" style="margin-top: 300px;">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <h3><strong>회원 가입</strong></h3>
            <hr>
            <form action="/user/register" method="post">
                <table class="table table-borderless">
                    <tr>
                        <td style="width:35%"><label class="col-form-label">사용자 ID</label></td>
                        <td style="width:65%"><input type="text" name="uid" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label">패스워드</label></td>
                        <td><input type="password" name="pwd" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label">패스워드 확인</label></td>
                        <td><input type="password" name="pwd2" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label">이름</label></td>
                        <td><input type="text" name="uname" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label class="col-form-label">이메일</label></td>
                        <td><input type="text" name="email" class="form-control"></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <input class="btn btn-primary" type="submit" value="제출">
                            <input class="btn btn-secondary" type="reset" value="취소">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}