{% extends "prototype/base.html" %}
{% block title %}일정표{% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    th { text-align: center; width: 14.28%;}
    td { height: 120px;}
</style>
<script>
    function re_cal(before_after) {

        let today = $('#to_month').text();
        let html = '';
        let newDay = new Date(today);

        if (before_after == 0)
            newDay.setMonth(newDay.getMonth()-1);
        else
            newDay.setMonth(newDay.getMonth()+1)
        today = `${newDay.getFullYear()}.${newDay.getMonth()+1}`;
        // console.log(today);
        $.ajax({
            type: 'POST',
            url: '/schedule/schedule',
            data: { today: today },
            success: function(cals) {
                // console.log("sucess");

                for (let i=0; i<cals.length; i++ ) {
                    // console.log(`i = ${i}, ${(i+1)%7}, day=${cals[i].day}`);
                    if ( (i+1)%7==1 ){
                        html += `<tr>
                                    <td`;
                        if (cals[i].opacity) {
                            html += ` style="opacity:${cals[i].opacity}"`
                        }
                        html +=  `><div class="d-flex justify-content-between"> 
                                    <div class="text-danger me-3">${ cals[i].day }</div>
                                    <div`
                        if (cals[i].isHoliday == 'Y') {
                            html += ` class=" text-danger"`
                        }
                        
                        html += `>${cals[i].dateName }</div>
                                </div>  
                                <span style="font-size:12px"></span>
                                </td>`;
                    }
                    else if ((i+1)%7==0) {
                        html += `<td`;
                        if (cals[i].opacity){
                            html += ` style="opacity:${cals[i].opacity}"`

                        }
                        html += `><div class="d-flex justify-content-between">
                                    <div class="`
                        if (cals[i].isHoliday == 'Y') {
                            html += ` text-danger `
                        }
                        else {
                            html += ` text-primary `
                        }

                        html += `me-3"> ${ cals[i].day } </div>
                                    <div`
                        if (cals[i].isHoliday == 'Y' ) {
                            html += ` class="text-danger"`
                        }

                        html += `>${ cals[i].dateName }</div>
                                    </div>  
                                    <span style="font-size:12px"></span>
                                    </td>
                                </tr>`
                    }
                    else {

                        html += `<td`

                        if (cals[i].opacity) {
                            html += ` style="opacity:${cals[i].opacity}"`;
                        }

                        html += `><div class="d-flex justify-content-between">
                            <div class="`;
                        if (cals[i].isHoliday == 'Y') {
                            html += ` text-danger `;
                        }

                        html += `me-3">${ cals[i].day } </div><div`;
                        if (cals[i].isHoliday == 'Y') {
                            html += ` class=text-danger `;
                        }
                        html += `>${ cals[i].dateName }</div>
                        </div>  
                        <span style="font-size:12px"></span>
                        </td>`
                        
                    }                   
                   

                }
                
                // console.log(html);
                $('#cal_res').empty()
                
                $("#cal_res").append(html);
                $('#to_month').html(today);
            } // end of success
        });
    }
    

    function twoDigit(num) {
        return (num<10)?'0'+ num : String(num);
    }

    window.onload = function (){
        const week = '일월화수목금토'.split('');
        let today = new Date()
        
        document.getElementById('today').innerHTML = 
                `${today.getFullYear()}-${twoDigit(today.getMonth()+1)}-${twoDigit(today.getDate())}(${week[today.getDay()]})`

        document.getElementById('to_month').innerHTML = 
                `${today.getFullYear()}.${twoDigit(today.getMonth()+1)}`
    }   
</script>
{% endblock%}

{% block subtitle %} 일정표 {% endblock %}
{% block content %}

    <div class="d-flex justify-content-between mb-2">
        <div class="flex-fill" id="today">
        </div>
        <div class="flex-fill"> 
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-left"></i></a> -->
            <a href="#" onclick="re_cal(0)"><i class="fa-sharp fa-solid fa-angle-left ms-2"></i></a>
            <a href="#">
                <span class="badge bg-primary mx-2" id="to_month"></span>
            </a>
            <a href="#" onclick="re_cal(1)"><i class="fa-sharp fa-solid fa-angle-right me-2"></i></a>
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a> -->
        </div>
        <div>        
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-pen me-2"></i></a> -->
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-table-list"></i></a> -->
        </div>
    </div>

    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th class="text-danger">일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th class="text-primary">토</th>
            </tr>
        </thead>
        
        <tbody id="cal_res">
        {% for cal in cals %}
            {% if loop.index%7 == 1 %}
                <tr>
                    <td {% if cal.opacity %}style="opacity:{{cal.opacity}}"{% endif %}> 
                        <div class="d-flex justify-content-between">
                            <div class="text-danger me-3">{{ cal.day }} </div>
                            <div> {{ cal.dateName }}</div>
                        </div>  
                        <span style="font-size:12px"></span>
                    </td>
            {% elif loop.index%7 == 0 %}
                    <td {% if cal.opacity %}style="opacity:{{cal.opacity}}"{% endif %}> 
                        <div class="d-flex justify-content-between">
                            <div class=" {% if cal.isHoliday == 'Y' %} text-danger {% else %} text-primary {% endif %}me-3">{{ cal.day }} </div>
                            <div {% if cal.isHoliday == 'Y' %} class="text-danger" {% endif %}> {{ cal.dateName }}</div>
                        </div>  
                        <span style="font-size:12px"></span>
                    </td>
                </tr>
            {% else %}
                    <td {% if cal.opacity %}style="opacity:{{cal.opacity}}"{% endif %}> 
                        <div class="d-flex justify-content-between">
                            <div class=" {% if cal.isHoliday == 'Y' %} text-danger {% endif %} me-3">{{ cal.day }} </div>
                            <div {% if cal.isHoliday == 'Y' %} class="text-danger" {% endif %}> {{ cal.dateName }}</div>
                        </div>  
                        <span style="font-size:12px"></span>
                    </td>
            
            {% endif %}
                   
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

