{% extends "prototype/base.html" %}
{% block title %}일정표{% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    th { text-align: center; width: 14.28%;}
    td { height: 120px;}
</style>
<script>
    function re_cal(before_after) {

        let now = new Date()
        let today = $('#to_month').text();
        let newDay = new Date(today);
        
        if (before_after == 1)
            newDay.setMonth(newDay.getMonth()-1);
        else if(before_after == 2)
            newDay.setMonth(newDay.getMonth()+1);
        else if(before_after == 3){
            if ((newDay.getFullYear() == now.getFullYear()) && (newDay.getMonth() == now.getMonth()))
                return;
            else 
                newDay = now;
        }

        now = `${now.getFullYear()}${twoDigit(now.getMonth()+1)}${twoDigit(now.getDate())}`;
        today = `${newDay.getFullYear()}.${newDay.getMonth()+1}`;
        // console.log(today);
        let html = '';
        $.ajax({
            type: 'POST',
            url: '/schedule/schedule',
            data: { today: today },
            success: function(cals) {
                // console.log("sucess");

                for (let i=0; i<cals.length; i++ ) {
                    // console.log(`i = ${i}, ${(i+1)%7}, day=${cals[i].day}`);
                    days = Number(cals[i].locdate.substring(6));
                    

                    // console.log(days);
                    // console.log(typeof days);
                    if((i+1)%7==1)
                        html += '<tr>';
                    html += '<td';
                    if(cals[i].opacity)
                        html += ` style="opacity:${cals[i].opacity}"`;
                    
                    if( cals[i].locdate == now ) {
                        html += ` style="background-color: #fcf7ea"`;
                    }
                    
                    html += `><div class="d-flex justify-content-between"> 
                                    <div class=" me-3`;

                    if((i+1)%7==1 || cals[i].isHoliday == 'Y')
                        html += ' text-danger';
                    else if ( (i+1)%7==0 && cals[i].isHoliday == 'N')
                        html += ' text-primary'

                    html += `">${ days }</div><div style="font-size:15px;"`

                    if (cals[i].isHoliday == 'Y')
                        html += ` class=" text-danger"`;

                    if ( cals[i].isHoliday == 'Y' ) {
                        desc = cals[i].dateName;
                        nfind = desc.indexOf(' ');
                        if(nfind < 0) 
                            html += `>${cals[i].dateName }</div></div>`;
                        else {
                            html += `>${desc.substring(0, nfind)}</div></div>`
                            html += `<p style="font-size:15px; text-align:right">${desc.substring(nfind+1)}</p>`;
                        }
                    }
                    else
                        html += `>${cals[i].dateName }</div></div>`;

                    
                    if( (i+1)%7==0) 
                        html += '</tr>';
                    
                }

                console.log(html);
                $('#cal_res').empty()

                $("#cal_res").append(html);
                $('#to_month').html(today);
                $('#cal_table').attr('class', 'table table-bordered')
            } // end of success
        });
    }
    

    function twoDigit(num) {
        return (num<10)?'0'+ num : String(num);
    }

    window.onload = function (){
        const week = '일월화수목금토'.split('');
        let today = new Date();
        
        document.getElementById('today').innerHTML = 
                `${today.getFullYear()}-${twoDigit(today.getMonth()+1)}-${twoDigit(today.getDate())}(${week[today.getDay()]})`;

        document.getElementById('to_month').innerHTML = 
                `${today.getFullYear()}.${twoDigit(today.getMonth()+1)}`;

        re_cal(0);
    }   
</script>
{% endblock%}

{% block subtitle %} 일정표 {% endblock %}
{% block content %}

    <div class="d-flex justify-content-between mb-2">
        <div class="flex-fill" id="today">
        </div>
        <div class="flex-fill"> 
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-left"></i></a> -->
            <a href="#" onclick="re_cal(1)"><i class="fa-sharp fa-solid fa-angle-left ms-2"></i></a>
            <a href="#" onclick="re_cal(3)">
                <span class="badge bg-primary mx-2" id="to_month"></span>
            </a>
            <a href="#" onclick="re_cal(2)"><i class="fa-sharp fa-solid fa-angle-right me-2"></i></a>
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a> -->
        </div>
        <div>   
            <a href="#"><i class="fa-sharp fa-solid fa-pen me-2 d-none"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-table-list d-none"></i></a>
        </div>
    </div>

    <table class="table table-bordered d-none" id="cal_table">
        <thead>
            <tr class="text-center">
                <th class="text-danger">일</th>
                <th>월</th>
                <th>화</th>
                <th>수</th>
                <th>목</th>
                <th>금</th>
                <th class="text-primary">토</th>
            </tr>
        </thead>

        <tbody id="cal_res">

        </tbody>
    </table>
{% endblock %}

