{% extends "prototype/base.html" %}
{% block title %}일정표{% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    th { text-align: center; width: 14.28%;}
    td { height: 120px;}
</style>
{% endblock%}

{% block subtitle %} 일정표 {% endblock %}
{% block content %}


    <div class="d-flex justify-content-between mb-2">
        <div>
            2023-03-15(수)
        </div>
        <div>
            <a href="#"><i class="fa-sharp fa-solid fa-angles-left"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-angle-left ms-2"></i></a>
            <a href="#">
                <span class="badge bg-primary mx-2">2023.03</span>
            </a>
            <a href="#"><i class="fa-sharp fa-solid fa-angle-right me-2"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a>
        </div>
        <div>
            <a href="#"><i class="fa-sharp fa-solid fa-pen me-2"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-table-list"></i></a>
        </div>
    </div>

    <table class="table table-bordered">
        <tr class="text-center">
            <th class="text-danger">일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th class="text-primary">토</th>
        </tr>
        <tr>
            <td class="text-danger" style="opacity:0.5">
                <div class="d-flex justify-content-between">
                    <div>26</div>
                </div>
            </td>
            <td style="opacity:0.5">27</td>
            <td>
                <span style="opacity:0.5">28</span><br>
                <span style="font-size:12px">10:30 일정 테스트</span>
            </td>
            <td>
                <div class="d-flex justify-content-between">
                    <div class="text-danger">1</div>
                    <div>삼일절</div>
                </div>
            </td>
            <td>2</td>
            <td>
                <div class="d-flex justify-content-between">
                    <div>3</div>
                    <div>삼겹살데이</div>
                </div>
                <span style="font-size:12px">16:00 주간 업무 리뷰</span>
            </td>
            <td class="text-primary">4</td>
        </tr>
        <tr>
            <td class="text-danger">5</td>
            <td>
                <div class="d-flex justify-content-between">
                    <div class="text-danger">6</div>
                    <div>경칩</div>
                </div>
                <span style="font-size:12px">13:00 동영상 녹화</span>
            </td>
            <td>7<br>
                <span style="font-size:12px">16:00 최종발표 리허설</span>
            </td>
            <td>8<br>
                <span style="font-size:12px">14:00 <strong>최종발표</strong></span>
            </td>
            <td>9</td>
            <td>10</td>
            <td class="text-primary">11</td>
        </tr>
        <tr>
            <td class="text-danger">12</td>
            <td>13
                <div class="mt-1" style="font-size:12px">
                    9:00 오리엔테이션
                </div>
            </td>
            <td >
                <div class="d-flex justify-content-between">
                    <div>14</div>
                    <div>화이트데이</div>
                </div>
                <div class="mt-1" style="font-size:12px">
                    <strong>12:00 케냐방문</strong><br>
                    18:00 귀가
                </div>
            </td>
            <td style="background-color: #efffff;">15</td>
            <td>16</td>
            <td>17</td>
            <td class="text-primary">18</td>
        </tr>
        <tr>
            <td class="text-danger">19</td>
            <td>20</td>
            <td >
                <div class="d-flex justify-content-between">
                    <div>21</div>
                    <div>춘분</div>
                </div>
            </td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td class="text-primary">25</td>
        </tr>
        <tr>
            <td class="text-danger">26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
            <td>31</td>
            <td style="opacity:0.5" class="text-primary">1</td>
        </tr>
    </table>
{% endblock %}