{% extends "prototype/base.html" %}
{% block title %}일정표{% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    th { text-align: center; width: 14.28%;}
    td { height: 120px;}
</style>
{% endblock%}

{% block subtitle %} 일정표 {% endblock %}
{% block content %}


    <div class="d-flex justify-content-between mb-2">
        <div class="flex-fill">
            2023-03-15(수)
        </div>
        <div class="flex-fill"> 
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-left"></i></a> -->
            <a href="#"><i class="fa-sharp fa-solid fa-angle-left ms-2"></i></a>
            <a href="#">
                <span class="badge bg-primary mx-2">2023.03</span>
            </a>
            <a href="#"><i class="fa-sharp fa-solid fa-angle-right me-2"></i></a>
            <!-- <a href="#"><i class="fa-sharp fa-solid fa-angles-right"></i></a> -->
        </div>
        <div>        
            <a href="#"><i class="fa-sharp fa-solid fa-pen me-2"></i></a>
            <a href="#"><i class="fa-sharp fa-solid fa-table-list"></i></a>
        </div>
    </div>

    <table class="table table-bordered">
        <tr class="text-center">
            <th class="text-danger">일</th>
            <th>월</th>
            <th>화</th>
            <th>수</th>
            <th>목</th>
            <th>금</th>
            <th class="text-primary">토</th>
        </tr>
        
        {% for cal in cals %}
            {% if loop.index%7 == 1 %}
                <tr>
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 2 %}
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 3 %}
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 4 %}
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 5 %}
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 6 %}
                    <td> {{ cal.day }} </td>
            {% endif %}
            {% if loop.index%7 == 0 %}
                    <td> {{ cal.day }} </td>
                </tr>
            {% endif %}
                   
        {% endfor %}
        
    </table>
{% endblock %}