{% extends "prototype/base.html" %}
{% block title %}식신 맛집 찾기{% endblock %}
{% block weather %} {{ weather | safe() }} {% endblock %}
{% block additional_head %}
<style>
    /* th { text-align: center; width: 14.28%;}
    td { height: 120px;} */
    .siksin_img { width: 100px; height: 60px;}
    table { text-align: center;}
</style>
<script>
    function siksinSearch(){
        let place = $('#place').val();
        
        let html = ''
        $.ajax({
            type: 'POST', 
            url: '/siksin', 
            data: {place: place},
            success: function(result){
                console.log('result ok');
                siksin = result;
                for(i in siksin) {
                    html += '<tr>'
                    html += `<td><img class="siksin_img" src="${siksin[i].img}" alt="${siksin[i].title}"></td>`
                    html += `<td>${ siksin[i].title }</td>`
                    html += `<td>${ siksin[i].score }</td>`
                    html += `<td>${ siksin[i].location }</td>`
                    html += `<td>${ siksin[i].menu }</td></tr>`
                 

                }

                $("#siksin_res_con").empty();
                $("#siksin_res_con").append(html);
                $('#siksin_res').attr('class', 'table');
            }

        });        
    }
</script>
{% endblock%}

{% block subtitle %} 식신 맛집 찾기 {% endblock %}
{% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
        <!-- <form action="/siksin" method="POST"> -->
            <table class="table table-borderless justify-content-center">
                <tr>
                    <td><input type="text" class="form-control" id="place"></td>
                    <td><input type="submit" class="btn btn-primary" value="검색" onclick="siksinSearch()"></td>
                </tr>
            </table>
        <!-- </form> -->
        </div>
        <div class="col-2"></div>
    </div>
    <table id="siksin_res" class="table d-none">
        <thead class="table-warning">
            <tr>
                <th></th>
                <th>가계명</th>
                <th>평점</th>
                <th>위치</th>
                <th>메뉴종류</th>
            </tr>
        </thead> 
        <tbody id="siksin_res_con">
        </tbody>       
    </table>
</div>

{% endblock %}